# 应用 Base URL
APP_BASE_URL=http://localhost:7001

# 数据库配置
DATABASE_URL="postgresql://username:password@localhost:5432/tinyship"

# 认证配置
BETTER_AUTH_SECRET="your-secret-key-here-32-characters-minimum"
BETTER_AUTH_URL="http://localhost:7001"

# OAuth 配置 （可选）

## Google Oauth 登录
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

## Github Oauth 登录
GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"

## 微信 OAuth 登录（可选）
WECHAT_APP_ID="your-wechat-app-id"
NEXT_PUBLIC_WECHAT_APP_ID="假如使用 Next.js, 需要这个值，和 WECHAT_APP_ID 完全相同即可"
WECHAT_APP_SECRET="your-wechat-app-secret"


# 邮件服务（可选）
## Resend 配置
RESEND_API_KEY="your-resend-api-key"

# 短信服务（可选）

## 阿里云短信
ALIYUN_ACCESS_KEY_ID="your-aliyun-key-id"
ALIYUN_ACCESS_KEY_SECRET="your-aliyun-key-secret"

## TWILLO 短信
TWILIO_ACCOUNT_SID="your-twilio-account-sid"
TWILIO_AUTH_TOKEN="your-twilio-auth-token"

# 支付配置（可选）

## 微信支付
WECHAT_PAY_APP_ID="微信支付 APP ID"
WECHAT_PAY_MCH_ID="微信支付商家 ID"
WECHAT_PAY_API_KEY="微信支付 API KEY 密码"
WECHAT_PAY_NOTIFY_URL=“微信支付webhook 回调地址 https://your-domain.com/api/payment/webhook/wechat”

## Stripe 支付
STRIPE_PUBLIC_KEY="your-stripe-publishable-key"
STRIPE_SECRET_KEY="your-stripe-secret-key"
STRIPE_WEBHOOK_SECRET="your-stripe-webhook-secret"

## CREEM 支付
CREEM_API_KEY="your-creem-api-key" 
CREEM_WEBHOOK_SECRET="your-creem-webhook-secret"

# Captcha 验证码配置 (可选)

## Cloudflare TURNSTILE
TURNSTILE_SECRET_KEY="your-trunstile-secret-key"
NEXT_PUBLIC_TURNSTILE_SITE_KEY="your-trunstile-site-key"